<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
     <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body ng-controller="StoreController as store">
    
  <!--   <p>{{"hello" + " you"}}</p>

    <div ng-repeat="product in store.products">
       <h1>{{product.name}}</h1>
       <h2>${{product.price}}</h2> 
       <p>{{product.description}}</p>	
         <button ng-show="product.canPurchase"> Add to Cart</button>
    </div> -->


    <!--Write expressive HTML through custom directives, so should be able to  understand the behaviour and intent
    just from the HTML-->

    <ul class="list-group">
    	<li class="list-group-item" ng-repeat="product in store.products | limitTo:5 | orderBy:'-price'">
    		<product-title ></product-title> <!--HTML is more expressive: custom ELEMENT directive-->
    		<!--BEST PRACTICE use element directives for UI widgets
    		                      attribute directives for mixin behaviour (like tooltip)
    		                      makes sense, an attribute can be dropped on any tag-->

    	
    		<product-panels></product-panels>

    	</li>
    </ul>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"> </script>
   </body>
</html>