<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  </head>
  <body ng-controller="StoreController as store">
    
  <!--   <p>{{"hello" + " you"}}</p>

    <div ng-repeat="product in store.products">
       <h1>{{product.name}}</h1>
       <h2>${{product.price}}</h2> 
       <p>{{product.description}}</p>	
         <button ng-show="product.canPurchase"> Add to Cart</button>
    </div> -->

    <ul class="list-group">
    	<li class="list-group-item" ng-repeat="product in store.products | limitTo:5 | orderBy:'-price'">
    		<h3>
    			{{product.name|uppercase}} <br>
    			<em class="pull-left">discovered {{product.dateDiscovered | date:'MM/dd/yyyy @ h:mma'}}</em><br/>
    			<em class="pull-right">{{product.price | currency}}</em>
    			{{product.description | limitTo:18}} <br/>
    			<img ng-src="{{product.images[0].thumb}}"/>
    		</h3>
    		<section  ng-controller="PanelController as panel">
    			<ul class="nav nav-pills">
    				<li ng-class="{ active: panel.isSelected(1) }"
    				   ><a href ng-click="panel.selectTab(1)">Description</a>
    				</li>
    				<li ng-class="{ active: panel.isSelected(2) }"
    				   ><a href ng-click="panel.selectTab(2)">Specifications</a>
    				</li>
    				<li ng-class="{ active: panel.isSelected(3)}"
    				   ><a href ng-click="panel.selectTab(3)">Reviews</a>
    				</li>
    			</ul>
    			{{tab}}
    			<div class="panel" ng-show="panel.isSelected(1)">
    				<h4>Description</h4>
    				<p>{{product.description}}</p>
    			</div>
    			<div class="panel" ng-show="panel.isSelected(2)">
    				<h4>Specifications</h4>
    				<blockquote>None Yet</blockquote>
    			</div>
    			<div class="panel" ng-show="panel.isSelected(3)">
    				<h4>Reviews</h4>
    				<blockquote ng-repeat="review in product.reviews">
                      <b>Stars: {{review.stars}}</b>
                      {{review.body}}
                      <cite>by: {{review.author}}</cite>
    				</blockquote>
    				<h4>Submit a Review</h4>
    				<form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
    				                        ng-submit="reviewCtrl.addReview(product)">
    				  <fieldset class="form-group">
    					<blockquote>
    						<b>Stars: {{reviewCtrl.review.stars}}</b>
    						{{reviewCtrl.review.body}}
    						{{reviewCtrl.review.color}}
    						{{reviewCtrl.review.terms}}
    						<cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
    					</blockquote>
    					 </fieldset>
                         <fieldset class="form-group">

    					<select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
    						<option value="">Rate this product</option>
    					</select>
    					<textarea ng-model="reviewCtrl.review.body"></textarea>
    					</fieldset>
                        <fieldset class="form-group">

    					<label>by:</label>
    					<input ng-model="reviewCtrl.review.author" type="email"/>
    					</fieldset>

              <fieldset class="form-group">

    					<input ng-model="reviewCtrl.review.terms" type="checkbox" />
    					</fieldset>
    					
    					<input ng-model="reviewCtrl.review.color" type="radio" value="red"/> Red
    					<input ng-model="reviewCtrl.review.color" type="radio" value="blue"/> Blue
    					<input ng-model="reviewCtrl.review.color" type="radio" value="green"/> Green

    					<input type="submit" value="Submit"/>
    				</form>
    			</div>
    		</section>
    	</li>
    </ul>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"> </script>
   </body>
</html>