<section >

			<ul class="nav nav-pills">
				<li ng-class="{ active: panels.isSelected(1) }" >
				 <a href ng-click="panels.selectTab(1)">Description</a>
				</li>
				<li ng-class="{ active: panels.isSelected(2) }">
				  <a href ng-click="panels.selectTab(2)">Specifications</a>
				</li>
				<li ng-class="{ active: panels.isSelected(3)}" >
				   <a href ng-click="panels.selectTab(3)">Reviews</a>
				</li>
			</ul>
		
			<div class="panel" ng-show="panels.isSelected(1)">
				<h4>Description</h4>
				<p>{{product.description}}</p>
			</div>
			<div class="panel" ng-show="panels.isSelected(2)">
				<h4>Specifications</h4>
				<blockquote>None Yet</blockquote>
			</div>
			<div class="panel" ng-show="panels.isSelected(3)">
				<div class="panel" ng-show="panels.isSelected(3)">
					<h4>Reviews</h4>
					<blockquote ng-repeat="review in product.reviews">
						<b>Stars: {{review.stars}}</b>
						{{review.body}}
						<cite>by: {{review.author}} on {{review.createdOn | date: 'MM/dd/yyyy @hh:mma'}}</cite>
					</blockquote>

					<form  class="form-horizontal" name="reviewForm" ng-controller="ReviewController as reviewCtrl"
						  ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate> <!-- turn off default html validation-->
                        <h4>Submit a Review</h4>
                        <div class="form-group">
                            <blockquote>
                                <b>Stars: {{reviewCtrl.review.stars}}</b><br/>
                                Body: {{reviewCtrl.review.body}}<br/>
                                Color: {{reviewCtrl.review.color}}<br/>
                                Terms: {{reviewCtrl.review.terms}}<br/>
                                <cite class="clearfix">by: {{reviewCtrl.review.author}}</cite>
                            </blockquote>
                        </div>

						<div class="form-group">

							<select class="form-control" ng-model="reviewCtrl.review.stars" required ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
								<option value="">Rate this product</option>
							</select>
							<textarea class="form-control" placeholder="your review here" ng-model="reviewCtrl.review.body" required ></textarea>
						</div>
						<div class="form-group">

							<label>by:</label>
							<input class="form-control" placeholder="you@domain.com" ng-model="reviewCtrl.review.author" required type="email"/>
						</div>
						<div>reviewForm is valid? {{reviewForm.$valid}}</div><!-- .$valid is a built in property from angular-->
						<div class="form-group">

                            <div class="checkbox">
							  <input class="form-control" ng-model="reviewCtrl.review.terms" type="checkbox" /> Terms
                            </div>
						</div>
                        <div class="radio">
						  <input ng-model="reviewCtrl.review.color" type="radio" value="red"/> Red
                        </div>
                        <div class="radio">
						  <input ng-model="reviewCtrl.review.color" type="radio" value="blue"/> Blue
                        </div>
                        <div class="radio">
						  <input ng-model="reviewCtrl.review.color" type="radio" value="green"/> Green
                        </div>

						<input class="btn btn-primary" type="submit" value="Submit"/>
					</form>
				</div>
			</div>
</section>